@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Concert+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  }

body{
    margin: 0px;
}

.navigasi_utama {
    background-color: #9ADCFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.kontener{
    display: flex;
}

.sub_menu_utama{
    /* background-color: red; */
    width: 80%;
    height: 50px;
}

.pembungkus_sub_menu{
    width: 75%;
    justify-content: center;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.submenu1{
    width: fit-content;
    height: fit-content;
    background-color:#FDC508 ;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.kotak_hasil{
    /* background-color: bisque; */
    width: 100%;
    height:max-content;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kotak_kotak_hasil{
    width: 80%;
    /* background-color: rgb(233, 155, 155); */
    display: flex;

}

.isi{
    width: 50%;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tulisan{
    font-size: 30px;
    font-weight: bold;
    color: #567AFB;

}

.raskucing{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    background-color: #FDC508;
    font-size: 35px;
    font-weight: bold;
    color: #567AFB;
}

.penjelasan_ras{
    margin-top: 80px;
    width: 80%;
    /* background-color: rgb(233, 155, 155); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Judul_Tentang_Kucing{
    color: #567AFB;
}

.Gambar_Penjelasan_Tentang_Kucing{
    margin-top: 30px;
    height:400px;
    width:600px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgb(140, 140, 140);
}

.Penjelasan_Tentang_Kucing{
    margin-top: 40px;
   width: 80%;
   text-align: justify;
   color: royalblue;
}



/* handphone */
.navigasi_utama_handphone{
    background-color: #9ADCFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.kontener_handphone{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: #ffe896; */
}

.icon_gambar{
    /* background-color: #625f56; */
}

.sub_menu_utama_hp{
    /* background-color: #625f56; */
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.submenu1_hp{
    width: fit-content;
    height: fit-content;
    background-color:#FDC508 ;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}


.kotak_hasil_hp{
    /* background-color: bisque; */
    width: 100%;
    height: max-content;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kotak_kotak_hasil_hp{
    width: 80%;
    /* background-color: rgb(233, 155, 155); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gambar-kucing-hp{
    box-shadow: 8px 8px 8px lightblue;
    border-radius: 7px;
}

.isi_hp{
    width: 100%;
    height: 50%;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tulisan_hp{
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    color: royalblue;
    text-align: center;

}

.raskucing_hp{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    background-color: #FDC508;
    font-size: 35px;
    font-weight: bold;
    color: royalblue;
}


.penjelasan_ras_hp{
    margin-top: 30px;
    width: 80%;
    /* background-color: rgb(233, 155, 155); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Judul_Tentang_Kucing_hp{
    color: #567AFB;
    text-align: center;
}

.Gambar_Penjelasan_Tentang_Kucing_hp{
    margin-top: 30px;
    height:200px;
    width:300px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgb(140, 140, 140);
}

.Penjelasan_Tentang_Kucing_hp{
    margin-top: 40px;
   width: 80%;
   text-align: justify;
   color: royalblue;
}




