
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 400</title>
    <link rel="stylesheet" href="../static/error.css">
</head>
<body>
    <div class="error">
    <div class="tenor-gif-embed" data-postid="23730966" data-share-method="host" data-aspect-ratio="1.33333" data-width="40%"><a href="https://tenor.com/view/cat-error-computer-gif-23730966">Cat Error GIF</a>from <a href="https://tenor.com/search/cat-gifs">Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <div>
    <h1>Halaman Tidak DItemukan</h1>
    <a href="{{ url_for('main') }}">kembali ke menu utama</a>
</div>
</div>


</body>
</html>
